registry=https://registry.npmjs.org/
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=DAD72B6E-E2D3-4AB5-A7CB-C60765A070AF